// This file is part of qawno.
//
// qawno is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// qawno is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with qawno.  If not, see <http://www.gnu.org/licenses/>.

#include <windows.h>
#include <qawno.h>

IDI_ICON1 ICON DISCARDABLE "icons/pawn.ico"

#define QAWNO_VERSION_RC QAWNO_VERSION_MAJOR, \
                         QAWNO_VERSION_MINOR, \
                         QAWNO_VERSION_PATCH, \
                         0

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
	FILEVERSION    QAWNO_VERSION_RC
	PRODUCTVERSION QAWNO_VERSION_RC
	FILEOS         VOS_NT_WINDOWS32
	FILETYPE       VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			VALUE "ProductName",     "qawno"
			VALUE "FileDescription", "qawno - A simple Pawn editor"
			VALUE "FileVersion",     QAWNO_VERSION_STRING
			VALUE "ProductVersion",  QAWNO_VERSION_STRING
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}